.contact-us-container {
   
    max-width: 100%;
   
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 100%;
    margin: 0 auto;
  }
  
  .contact-us-info {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .contact-us-header {
    color: #333;
  }
  
  .contact-details {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 40px;
   
  }
  
  .contact-details h3 {
    margin-bottom: 5px;
    color: #333;
  }
  
  .contact-details p {
    margin-bottom: 15px;
    color: #666;
  }
  
  .contact-details a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-details a:hover {
    text-decoration: underline;
  }
  
  .contact-us-formm ,form-group {
    margin-bottom: 15px;
    border: 3px   solid black ;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    margin-left: 25%;
    margin-right: 15%;
    
  }
  
  .contact-us-formm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .contact-us-formm input,
  .contact-us-formm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .contact-us-formm textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-us-formm input[type="file"] {
    border: none;
    padding: 0;
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .contact-us-map {
    margin: 30px 0;
    text-align: center;
  }
  
  .contact-us-thankyou {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }

  .contact-us-container {
    
    max-width: 100%;
    margin: 0 auto;
    background-color: pink;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .logo-cell {
    position: relative;
    width: 200px; /* Set to the width of your image */
    height: 200px; /* Set to the height of your image */  
   
  }
  
  .logoo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;
    width: 440px; /* Adjust the image size as needed */
    height: auto;
    align-items: right;
  }

  .submit-button{
    background-color: darkcyan;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 200px;

  }
  