.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f9;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.sidebar-button {
  display: block;
  margin: 10px 0;
  padding: 15px;
  background-color: transparent;
  color: white;
  border: none;
  text-align: left;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #34495e;
}

.main-content {
  padding: 20px;
  flex: 1;
  background-color: white;
  overflow-y: auto;
  border-left: 1px solid #dcdcdc;
}

.main-content::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
} 

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.main-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.main-content::-webkit-scrollbar-track:hover {
  background-color: #dcdcdc;
}

.main-content::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

/* Add more styles as needed */ 

.dashboard-welcome {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}
