/* JobApplicationForm.css */
.job-application-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: powderblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .job-application-form h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group input[type="file"] {
    padding: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }

  .form-group textarea {
    resize: vertical;
  }     