body {
    background-image: url('background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    

    text-align: center;
}

.section {
    margin: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input[type="text"] {
    margin-right: 10px;
}

footer {
    margin-top: 20px;
}
