/* Login.module.css */
.login-container , .signup-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px; /* Reduced width for a more compact layout */
  text-align: center;
  margin-top: 80px;
  margin-left: 600px;
  margin-bottom: 50px;
  width: 400px;
  height: 500px;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  text-align: left;
  color: red;
  font-size: 18px; /* Reduced font size for a more compact layout */
}

.input {
  border: 1px solid #e2e8f0;
  padding: 8px; /* Reduced padding for a more compact layout */
  border-radius: 5px;
}

.login-button, .forgot-button, .signup-button {
  background-color: #4299e1;
  color: white;
  padding: 8px; /* Reduced padding for a more compact layout */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover, .forgot-button:hover, .signup-button:hover {
  background-color: #3182ce;
}

.forgot-button {
  background-color: #ecc94b;
}

.forgot-button:hover {
  background-color: #d69e2e;
}

.signup-button {
  background-color: #f56565;
}

.signup-button:hover {
  background-color: #c53030;
}

.signup-link {
  color: #4299e1;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.signupContainer {
  background: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px; /* Reduced width for a more compact layout */
  text-align: center;
  margin-top: 500%;
  margin-left: 600px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: left;
  color: red;
  font-size: 18px;
}

.input {
  border: 1px solid #e2e8f0;
  padding: 8px;
  border-radius: 5px;
}

.signupButton {
  background-color: #4299e1;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signupButton:hover {
  background-color: #3182ce;
}

.loginButton {
  background-color: #f56565;
}

.loginButton:hover {
  background-color: #c53030;
}

.extraLinks {
  margin-top: 15px;
}

.logout-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #d32f2f;
  width: 100px;
}

.logout-container {
  text-align: center;
  
 
}
